@layer base {

  :root {
    --size-0: 5px;
    --size-1: 10px;
    --size-2: 15px;
    --size-3: 20px;
    --size-4: 30px;
    --size-5: 35px;
    --size-6: 40px;
    --size-7: 45px;

    --font-weight-1: 400;
    --font-weight-2: 700;

    --color-1: #fff;
    --color-2: #111311;
    --color-3: #212121;
    --color-4: #999;
    --color-5: #21a138;
    --color-6: #36853b;
    --color-7: #b6ffba;
    --color-8: #dd3037;

    --btn-border-radius: 30px;
  }
}