@layer default {

  body {
    font-family: GothamPro, system-ui, sans-serif;
  }

  h1 {
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-1);
  }

  h2,
  .bold-descr {
    padding-block-end: var(--size-5);
    font-weight: var(--font-weight-2);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-4);
  }

  .btn {
    padding-inline: var(--size-4);
    padding-block: var(--size-1);
    border-radius: var(--btn-border-radius);
    font-weight: var(--font-weight-2);
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: var(--color-1);
    background-color: var(--color-8);
  }

  a {
    font-weight: var(--font-weight-2);
  }

  p {
    font-weight: var(--font-weight-1);
    color: var(--color-1);
  }
}