@layer style {

  :root {
    --header-height: 57px;
  }

  header {
    --_extreme-elements-width: 20%;
    --_logo-link-width: 127px;
    position: fixed;
    display: block flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--size-1);
    inline-size: 100vi;
    block-size: var(--header-height);
    background-color: var(--color-2);

    .nav-bar-btn {
      --_nav-bar-line-width: 24px;
      --_nav-bar-line-height: 3px;
      --_nav-bar-line-inset-block: 8px;
      display: block flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--_menu-gap);
      block-size: 40px;
      text-align: start;

      & span {
        position: relative;
      }

      & span,
      & span::before,
      & span::after {
        content: "";
        position: absolute;
        inline-size: var(--_nav-bar-line-width);
        block-size: var(--_nav-bar-line-height);
        background-color: var(--color-1);
      }

      & span::before,
      & span::after {
        inset-inline-start: 0;
      }

      & span::before {
        inset-block-start: calc(var(--_nav-bar-line-inset-block) * -1);
      }

      & span::after {
        inset-block-start: var(--_nav-bar-line-inset-block);
      }
    }

    .logo-link {
      display: block flex;
      justify-content: center;
      inline-size: var(--_logo-link-width);

      & img {
        inline-size: 51%;
      }
    }

    .nav-bar-btn,
    .phones {
      inline-size: var(--_extreme-elements-width);
    }

    .phones {
      --_extreme-elements-width: 26%;
      font-size: 9px;
      line-height: 167%;
      text-align: center;
      color: var(--color-1);
    }
  }

  main {
    padding-block-start: var(--header-height);
  }

  .hero {
    display: block flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-block-size: 500px;
    background-image: url('../img/hero-img.webp');
    background-repeat: no-repeat;
    background-size: 243%;
    background-position: 75% 43%;

    & p {
      margin-block-end: var(--size-5);
      padding-block-start: var(--size-2);
      font-weight: var(--font-weight-2);
      font-size: 18px;
      color: var(--color-1);
    }

    & btn {
      padding-inline: var(--size-4);
    }
  }

  .about {
    --_counter-width: 80px;
    --_counter-height: 70px;
    --_about-gap: var(--size-5);
    background-color: var(--color-3);

    & :where(ul, li) {
      display: block flex;
      flex-direction: column;
      align-items: center;
      gap: var(--_about-gap);
    }

    & li {
      --_about-gap: var(--size-2);
    }

    & li:first-child span {
      max-inline-size: 230px;
    }

    & span {
      display: block grid;
      place-content: center;
      inline-size: var(--_counter-width);
      block-size: var(--_counter-height);
      border: 1px solid var(--color-7);
      border-radius: 5px;
      font-weight: var(--font-weight-2);
      font-size: 24px;
      line-height: 167%;
      color: var(--color-5);
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 0 10px 0 #b6ffba;
    }

    & p {
      text-align: center;
    }
  }

  .vacancies {
    background-color: var(--color-3);

    & h2 {
      text-align: start;
    }

    .tab {
      padding-block: 6px;
      padding-inline: 12px;
    }

    & .tab:has(input:checked) {
      color: var(--color-3);
      background-color: var(--color-4);
    }

    & .vacancy-descr:not(:first-of-type) {
      display: none;
    }
  }
}