@layer style {

  :root {
    --header-height: 57px;
    --container-padding-inline: var(--size-2);
  }

  header {
    --_extreme-elements-width: 20%;
    --_logo-link-width: 127px;
    position: fixed;
    z-index: 1;
    display: block flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--size-1);
    inline-size: 100vi;
    block-size: var(--header-height);
    background-color: var(--color-2);

    .nav-bar-btn {
      --_nav-bar-line-width: 24px;
      --_nav-bar-line-height: 3px;
      --_nav-bar-line-inset-block: 8px;
      display: block flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--_menu-gap);
      block-size: 40px;
      text-align: start;

      & span {
        position: relative;
      }

      & span,
      & span::before,
      & span::after {
        content: "";
        position: absolute;
        inline-size: var(--_nav-bar-line-width);
        block-size: var(--_nav-bar-line-height);
        background-color: var(--color-1);
      }

      & span::before,
      & span::after {
        inset-inline-start: 0;
      }

      & span::before {
        inset-block-start: calc(var(--_nav-bar-line-inset-block) * -1);
      }

      & span::after {
        inset-block-start: var(--_nav-bar-line-inset-block);
      }
    }

    .logo-link {
      display: block flex;
      justify-content: center;
      inline-size: var(--_logo-link-width);

      & img {
        inline-size: 51%;
      }
    }

    .nav-bar-btn,
    .phones {
      inline-size: var(--_extreme-elements-width);
    }

    .phones {
      --_extreme-elements-width: 26%;
      font-size: 9px;
      line-height: 167%;
      text-align: center;
      color: var(--color-1);
    }
  }

  main {
    padding-block-start: var(--header-height);
  }

  .hero {
    display: block flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-block-size: 500px;
    background-image: url('../img/hero-img.webp');
    background-repeat: no-repeat;
    background-size: 243%;
    background-position: 75% 43%;

    & p {
      margin-block-end: var(--size-5);
      padding-block-start: var(--size-2);
      font-weight: var(--font-weight-2);
      font-size: 18px;
      color: var(--color-1);
    }

    & btn {
      padding-inline: var(--size-4);
    }
  }

  .about {
    --_counter-width: 80px;
    --_counter-height: 70px;
    --_about-gap: var(--size-5);
    background-color: var(--color-3);

    & :where(ul, li) {
      display: block flex;
      flex-direction: column;
      align-items: center;
      gap: var(--_about-gap);
    }

    & li {
      --_about-gap: var(--size-2);
    }

    & li:first-child span {
      max-inline-size: 230px;
    }

    & span {
      display: block grid;
      place-content: center;
      inline-size: var(--_counter-width);
      block-size: var(--_counter-height);
      border: 1px solid var(--color-7);
      border-radius: 5px;
      font-weight: var(--font-weight-2);
      font-size: 24px;
      line-height: 167%;
      color: var(--color-5);
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 0 10px 0 #b6ffba;
    }

    & p {
      text-align: center;
    }
  }

  .vacancies {
    display: block flex;
    flex-direction: column;
    background-color: var(--color-3);

    & h2 {
      text-align: start;
    }

    & .tab-wrapper {
      margin-block-end: var(--size-5);
    }

    & .tab {
      padding-block: 6px;
      padding-inline: 12px;
    }

    & .spoiler-wrapper {
      display: none;
    }

    & .tab-wrapper:has(.tab:first-child input:checked)~.spoiler-wrapper:first-of-type {
      display: block flow;
    }

    & .tab-wrapper:has(.tab:nth-child(2) input:checked)~.spoiler-wrapper:nth-of-type(2) {
      display: block flow;
    }

    & .tab-wrapper:has(.tab:nth-child(3) input:checked)~.spoiler-wrapper:nth-of-type(3) {
      display: block flow;
    }

    & .tab-wrapper:has(.tab:nth-child(4) input:checked)~.spoiler-wrapper:nth-of-type(4) {
      display: block flow;
    }

    & .tab-wrapper:has(.tab:last-child input:checked)~.spoiler-wrapper:last-of-type {
      display: block flow;
    }

    & .spoiler:not(:last-of-type) {
      margin-block-end: var(--size-3);
    }

    & .spoiler {
      display: block flow;
      border: 3px solid #999;
      border-radius: 30px;
      padding: 30px;

      & div {
        position: relative;
      }

      & :where(h4, .salary) {
        position: relative;
        padding-inline-start: var(--size-5);
      }

      & h4 {
        margin-block-end: var(--size-3);
      }

      & .salary {
        margin-block-end: var(--size-1);
        font-size: 16px;
        font-weight: var(--font-weight-2);
        text-transform: uppercase;
        color: var(--color-5);
      }

      & svg {
        position: absolute;
        inset-inline-end: 0;
        inset-block: 0;
        margin-block: auto;
      }

      & :where(h5, li p) {
        font-weight: var(--font-weight-2);
        font-size: 12px;
        color: #fff;
      }

      & h5 {
        line-height: 200%;
      }

      & li {
        position: relative;
        padding-inline-start: var(--size-3);
        line-height: 100%;
      }

      & li::before {
        content: "";
        position: absolute;
        inset-inline-start: 6px;
        inset-block-start: 5px;
        border-radius: 50%;
        inline-size: 4px;
        block-size: 4px;
        background-color: var(--color-1);
      }
    }

    & .spoiler:has(input:checked) .spoiler-descr {
      display: block flow;
    }

    & .spoiler:has(input:checked) svg {
      transform: rotate(45deg);
    }

    & .spoiler h4::before,
    & .salary::before {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block: 0;
      margin-block: auto;
      inline-size: 25px;
      block-size: 25px;
      background-repeat: no-repeat;
    }

    & .spoiler h4::before {
      background-image: url('../img/vacancies-img-1.svg');
    }

    & .salary::before {
      background-image: url('../img/vacancies-img-2.svg');
    }

    & .btn {
      align-self: center;
      margin-block-start: var(--size-5);
      inline-size: fit-content;
    }
  }

  .advantages {
    --_spoiler-border-width: 2px;
    --_title-max-width: 80vi;
    --_label-padding-inline: var(--size-2);
    padding-inline: 0;
    background-color: var(--color-2);

    & .spoiler {
      border-bottom: var(--_spoiler-border-width) solid var(--color-4);
    }

    & label {
      display: block flow;
      padding-inline: var(--_label-padding-inline);
      padding-block: var(--size-2) calc(var(--size-2) - var(--_spoiler-border-width));
    }

    & label:has(input:checked) .spoiler-descr {
      display: block flow;
    }

    & label:has(input:checked) h3::after {
      transform: rotate(45deg);
    }

    & h3 {
      position: relative;
      max-inline-size: var(--_title-max-width);
    }

    & h3::after {
      --_inset-coefficient: calc(var(--_label-padding-inline) * 2);
      content: "";
      position: absolute;
      inset-inline-end: calc((100vi - var(--_title-max-width)) * -1 + var(--_inset-coefficient));
      inset-block: 0;
      margin-block: auto;
      inline-size: 25px;
      block-size: 26px;
      background-image: url('../img/spoiler-svg.svg');
      background-repeat: no-repeat;
    }

    & .spoiler-descr {
      padding-block-start: var(--size-3);
    }
  }

  footer {
    --_inner-indent: var(--size-6);
    --_map-height: 225px;
    --social-svg-size: 50px;
    padding-block: var(--size-7);
    background-color: var(--color-2);

    & h2 {
      padding-block-end: var(--_inner-indent);
    }

    & :where(address, .tab-wrapper) {
      margin-block-end: var(--_inner-indent);
    }

    & address {
      position: relative;
    }

    & .tab-wrapper {
      gap: var(--size-2);
    }

    & .tab {
      padding-inline: var(--size-2);
      min-inline-size: 150px;
      text-align: center;
    }

    & .contacts {
      --_contacts-icon-size: 32px;
      --_contacts-icon-padding: var(--size-1);
      display: none;
      font-size: 12px;
      color: var(--color-1);

      & ul {
        margin-block-end: calc(var(--_inner-indent) * 2 + var(--social-svg-size));
      }

      & li:not(:last-of-type) {
        margin-block-end: var(--size-2);
      }

      & li:not(:last-of-type) a {
        padding-block: var(--size-1);
      }

      & li:last-of-type a {
        text-decoration: underline;
        line-height: 208%;
      }

      & li:nth-of-type(1) a::before {
        background-image: url('../img/footer-phone.svg');
      }

      & li:nth-of-type(2) a::before {
        background-image: url('../img/footer-mail.svg');
      }

      & li:nth-of-type(3) a::before {
        background-image: url('../img/footer-map.svg');
      }

      & a {
        position: relative;
        padding-inline-start: calc(var(--_contacts-icon-size) + var(--_contacts-icon-padding));
      }

      & a::before {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        inset-block: 0;
        margin-block: auto;
        inline-size: var(--_contacts-icon-size);
        block-size: var(--_contacts-icon-size);
        background-repeat: no-repeat;
      }

      & :where(.map, .map iframe) {
        block-size: var(--_map-height);
      }

      & .map {
        margin-inline: calc(var(--container-padding-inline) * -1);
      }

      & .map iframe {
        border: 0;
      }
    }

    & .tab-wrapper:has(.tab:first-of-type input:checked)~.contacts:first-of-type {
      display: block flow;
    }

    & .tab-wrapper:has(.tab:last-of-type input:checked)~.contacts:last-of-type {
      display: block flow;
    }

    & .social-links {
      position: absolute;
      inset-block-end: calc(var(--_inner-indent) + var(--_map-height));
      inset-inline: 0;
      margin-inline: auto;
      display: block flex;
      justify-content: center;
      gap: var(--size-4);
    }

    & .requisites-wrapper {
      display: block flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 14px;
      line-height: 143%;
      color: var(--color-1);
    }

    & .copyright {
      margin-block-end: var(--size-4);
      font-weight: var(--font-weight-2);
    }

    & .requisites {
      margin-block-end: var(--size-2);
      text-decoration: underline;

      & li:last-child a {
        font-size: 12px;
      }
    }

  }
}